@charset 'utf-8';

:root {
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: white;
  --font-size1: 22px;
  --font-size2: 18px;
  --font-size3: 16px;
  --font-size4: 14px;
  --font-size5: 12px;
  --font-size6: 28px;
  --font-size7: 60px;
  --font-color1: #284372;
  --font-color2: #ffd700;
}
.wrap {
  overflow: hidden;
}
/* ================================================pc======================================= */
@media (min-width: 800px) {
  .mw {
    max-width: 1440px;
    width: calc(100% - 2rem);
    margin: auto;
  }
  .mw2 {
    max-width: 784px;
    width: calc(100% - 2rem);
    margin: auto;
  }
  body {
    background-image: url(../imges/mobile_version_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background: linear-gradient(0deg, rgba(255, 244, 244, 0.4), rgba(0, 0, 0, 0.4)), url(../imges/page_bg.jpg); */
  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .wrap {
  }
  img {
    width: 100%;
  }
  .hd {
    height: 115px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
  }

  .top_info {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top_info::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: white;
  }
  .top_info_title {
    font-size: var(--font-size3);
    color: var(--font-color2);
    padding: 0 1rem;
    font-weight: 500;
  }
  .top_info_text {
    font-size: var(--font-size4);
    color: white;
    padding: 0 0.5rem;
    font-weight: 500;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    flex-grow: 1;
  }
  .nav > * {
  }
  h1 {
    width: 240px;
    /* border: 1px solid red; */
  }

  .gnb_list {
    display: flex;
  }
  .gnb_list::before {
    content: "";
    position: absolute;
    top: 115px;
    left: 0%;
    width: 100%;
    height: 0px;
    background-image: url(../imges/sub_list_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    transition: all 0.3s;
    opacity: 0;
    overflow: hidden;
  }
  .gnb_list > li {
    padding: 0 2rem;
  }
  .gnb_list > li > a {
    color: white;
    font-family: "Gowun Dodum";
    font-size: var(--font-size1);
    font-weight: 300;
    line-height: 33px;
    transition: 0.3s;
  }

  .gnb_list > li .sub_list {
  }

  .gnb_list > li:hover .sub_list {
    display: flex;
  }
  .gnb_list > li:hover > a {
    color: var(--font-color2);
  }
  .gnb_list:hover::before {
    opacity: 1;
    height: 60px;
  }
  .sub_list {
    width: 100%;
    position: absolute;
    display: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    left: 0;
    height: 85px;
    padding-top: 24px;
  }
  .sub_list > li {
    padding-left: 40px;
    transition: 0.3s;
  }
  .sub_list > li > a {
    color: white;
    padding: 1rem 1rem;
    font-family: "Gowun Dodum";
    font-size: var(--font-size2);
    transition: 0.3s;
  }
  .sub_list > li > a:hover {
    color: var(--font-color2);
  }
  .person_btn {
    width: 75px;
    height: 40px;
    border-radius: 10px;
    font-family: "Noto Sans KR";
    font-size: var(--font-size4);
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }
  .fa-bars {
    display: none;
  }
  .login {
    background-color: var(--font-color2);
    color: var(--font-color1);
  }
  .login:hover {
    background-color: white;
    color: var(--font-color2);
  }
  .signup {
    background-color: var(--font-color1);
    color: white;
  }
  .signup:hover {
    background-color: white;
    color: var(--font-color1);
  }

  .ft {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100px;
    display: flex;
    border-top: 1px solid white;
  }
  .ft > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .ft > div > img {
    width: 180px;
  }
  .ft > div > p {
    font-size: var(--font-size5);
  }
  .ft > div > p > span {
    color: var(--font-color2);
    font-size: var(--font-size3);
    border: 1px solid rebeccapurple;
    line-height: 300%;
  }
  .shortcut > span {
    color: var(--font-color2);
    font-size: var(--font-size3);
  }
  .shotycut_btn > li {
    width: 180px;
    height: 31px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    position: relative;
    cursor: pointer;
  }
  .shotycut_btn > li > span::after {
    width: 100%;
    content: "\f0de";
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    padding-left: 20px;
    background-color: transparent;
  }
  .shotycut_btn {
    display: flex;
    justify-content: space-between;
  }
  .shotycut_btn>li.on .shortcut_contents {
    padding: 2rem 0.5rem;
    font-weight: normal;
    display: block;
    transition: 0.3s;
    overflow: visible;
    opacity: 1;
    z-index: 1;
  }
  .shortcut_contents {
    display: block;
    position: absolute;
    background-color: #284372;
    left: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
  }
  .shortcut_contents.agency {
    top: -210px;
  }
  .shortcut_contents.region {
    top: -350px;
  }
  .shortcut_contents.cafe {
    top: -125px;
  }
  .shortcut_contents > li {
    padding: 0.25rem 0;
  }
  .shortcut_contents > li > a {
    color: white;
    font-size: var(--font-size5);
  }
}

@media (max-width: 1200px) {
  .top_info_title {
    font-size: var(--font-size4);
    padding: 0 0.5rem;
  }
  .top_info_text {
    font-size: var(--font-size5);
  }
  h1 {
    width: 180px;
    /* border: 1px solid red; */
  }
  .gnb_list > li {
    padding: 0 0.5rem;
  }
  .gnb_list > li > a {
    font-size: var(--font-size2);
  }
  .shotycut_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .shotycut_btn > button {
    margin: 0rem;
    padding: 0;
  }
}
/* ================================================moblie======================================= */
@media (max-width: 800px) {
  .hd {
    height: 115px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
  }
  .gnb_list {
    display: none;
  }
  .top_info {
    display: none;
  }
  body {
    background-image: url(../imges/mobile_version_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background: linear-gradient(0deg, rgba(255, 244, 244, 0.4), rgba(0, 0, 0, 0.4)), url(../imges/page_bg.jpg); */
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    flex-grow: 1;
    border: 1px solid red;
    max-width: 90%;
    width: calc(100% - 2rem);
    margin: auto;
  }
  .person_btn {
    display: none;
  }
  .fa-bars {
    display: block;
    font-size: x-large;
  }

}
