@charset 'utf-8';

:root {
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: white;
  --font-size1: 22px;
  --font-size2: 18px;
  --font-size3: 16px;
  --font-size4: 14px;
  --font-size5: 12px;
  --font-size6: 28px;
  --font-size7: 60px;
  --font-color1: #284372;
  --font-color2: #ffd700;
}
img {
  width: 100%;
}
@media (min-width: 800px) {
  .sec {
    height: 865px;
    display: flex;
    position: relative;
  }
  .sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 0%;
    background-image: url(../imges/page_3_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
  h2,
  h2 > * {
    /* border: 1px solid red; */
  }
  h2 {
    font-family: "Gowun Dodum";
    padding-top: 65px;
    display: flex;
    flex-direction: column;
  }
  h2 > span {
    font-size: var(--font-size6);
    line-height: 31px;
  }
  h2 > strong {
    font-size: var(--font-size7);
    line-height: 70px;
    margin-top: 1rem;
  }
  .main {
    position: absolute;
    top: 250px;
  }
  .reservation_con {
    margin-top: 85px;
    display: flex;
  }
  .reservation_con > button {
    width: 200px;
    height: 50px;
    background-color: black;
    border: 3px solid white;
    margin: 12px;
  }
  #reserve_info {
    margin-left: 0;
  }
  #reserve_info > span,
  #reserve_start > span {
    color: white;
    font-family: "Noto Sans KR";
    font-size: var(--font-size1);
    font-weight: 500;
    padding-right: 3rem;
    position: relative;
  }
  #reserve_info > span::after,
  #reserve_start > span::after {
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    position: absolute;
    top: 20%;
    right: 0;
  }
  #reserve_info:hover,
  #reserve_start:hover {
    background-color: white;
  }
  #reserve_info:hover > span,
  #reserve_start:hover > span {
    color: black;
  }
  .popup_con {
    position: absolute;
    overflow: hidden;
    width: 305px;
    height: 160px;
    top: 0.6rem;
    right: 2.8rem;
  }
  .popup_swiper {
    position: relative;
    display: flex;
  }
  .swiper-wrapper {
    display: flex;
  }
  .swiper-slide img {
  }
  .popup_next,
  .popup_prev {
  }
  .popup_next::after,
  .popup_prev::after {
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
  }
  .popup_next::after {
    content: "\f105";
    right: 0;
  }
  .popup_prev::after {
    content: "\f104";
    left: 0;
  }

  .sub_menu {
    margin: 32px 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }
  .sub_menu > div {
    margin: 0 0.5rem;
  }
  .sub_menu > .notice {
    width: 312px;
    height: 180px;
    position: relative;
    margin-left: 0;
    border: 1px solid white;
  }
  .room_info {
    width: 260px;
    height: 180px;
    position: relative;
    border: 1px solid white;
  }
  .weather_info {
    width: 136px;
    height: 180px;
    position: relative;
    border: 1px solid white;
  }
  .weather_contests > div > p {
    color: white;
  }

  h3 {
    font-size: var(--font-size3);
    font-weight: 500;
    color: white;
    background-color: var(--font-color1);
    padding: 10px 10px;
    border-bottom: 1px solid white;
  }
  .fa-star {
    color: var(--font-color2);
  }
  .notice_doc::after {
    content: "\2b";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 4%;
    right: 8%;
    font-size: large;
  }
  .notice_doc::after:hover {
    transform: rotate(90deg);
  }
  .room_info_doc::after {
    content: "\f04c";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 4%;
    right: 8%;
    font-size: large;
  }
  .room_info_doc::before {
    content: "\f04b";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 4%;
    right: 16%;
    font-size: large;
  }
  .weather_info_doc::after {
    content: "\2b";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 4%;
    right: 8%;
    font-size: large;
    color: white;
  }
  .sub_menu_contents {
    border: 1px solid var(--font-color1);
    height: 140px;
    padding-top: 1rem;
    backdrop-filter: none;
  }
  .sub_menu_contents p {
    color: black;
    font-size: var(--font-size4);
    font-weight: 500;
  }
  .notice > .sub_menu_contents > div {
    width: 260px;
  }

  .notice > .sub_menu_contents > div > p {
    padding-left: 1rem;
    padding-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
  }
  .slide_wrap {
    position: relative;
    overflow: hidden;
    padding-top: 0rem;
    width: 260px;

  }
  .room_swiper {
    display: flex;
  }
  .swiper-slide img  {
    width: 100%;
  }
  .swiper-slide img {
    width: 100%;
  }
  /* .slide_img {
    display: flex;
    width: 500%;
    backdrop-filter: none;
  }
  .slider {
    width: calc(100% / 5);
    overflow: hidden;
  }
  .slider img {
    width: 260px;
  } */

  .weather_contests {
    padding-top: 0;
  }
  .weather_contests > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .weather_contests > div > * {
    padding: 0.5rem;
  }
  .weather_contests > div > img {
    width: 50%;
  }
  .buliding_bg {
    position: absolute;
    width: 672px;
    height: 614px;
    left: 10%;
    top: 40%;
    z-index: -2;
  }
}
