@charset 'utf-8';

:root {
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: white;
  --font-size1: 22px;
  --font-size2: 18px;
  --font-size3: 16px;
  --font-size4: 14px;
  --font-size5: 12px;
  --font-size6: 28px;
  --font-size7: 60px;
  --font-color1: #284372;
  --font-color2: #ffd700;
}
img {
  width: 100%;
}
.wrap {
  overflow: hidden;
}
@media (min-width: 800px) {
  .sec {
    min-height: 730px;
    display: flex;
    position: relative;
  }
  /* .sec::before {
    content: "";
    position: absolut.sub_menue;
    top: 50%;
    left: -80%;
    width: 100%;
    height: 50%;
    background-image: url(../imges/page_2_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  } */
  /* .sec::after {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    width: 50%;
    height: 0%;
    background-image: url(../imges/page_3_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  } */
  h2,
  h2 > * {
    /* border: 1px solid red; */
  }
  h2 {
    font-family: "Gowun Dodum";
    padding-top: 65px;
    display: flex;
    flex-direction: column;
  }
  h2 > span {
    font-size: var(--font-size6);
    line-height: 31px;
  }
  h2 > strong {
    font-size: var(--font-size7);
    line-height: 70px;
    margin-top: 1rem;
  }
  .main {
    position: absolute;
    top: 250px;
  }
  .reservation_con {
    margin-top: 55px;
    display: flex;
  }
  .reservation_con > button {
    width: 200px;
    height: 50px;
    background-color: black;
    border: 3px solid white;
    margin: 12px 8px;
    cursor: pointer;
    position: relative;
  }
  #reserve_info {
    margin-left: 0;
  }
  #reserve_info > span,
  #reserve_start > span {
    color: white;
    font-family: "Noto Sans KR";
    font-size: var(--font-size1);
    font-weight: 500;
    padding-right: 3rem;
  }
  .reservation_con #reserve_info > a,
  .reservation_con #reserve_start > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #reserve_info > span::after,
  #reserve_start > span::after {
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    position: absolute;
    top: 25%;
    right: 10%;
  }
  #reserve_info:hover,
  #reserve_start:hover {
    background-color: white;
  }
  #reserve_info:hover > span,
  #reserve_start:hover > span {
    color: black;
  }
  .popup_con {
    position: absolute;
    overflow: hidden;
    width: 305px;
    height: 140px;
    top: -1.4rem;
    right: 0rem;
    border: 3px solid white;
  }
  .popup_swiper {
    position: relative;
    display: flex;
  }
  .swiper-wrapper {
    display: flex;
  }
  .popup_swiper .swiper-wrapper .swiper-slide > a {
    width: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .popup_next,
  .popup_prev {
  }
  .popup_next::after,
  .popup_prev::after {
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    font-size: x-large;
  }
  .popup_next::after {
    content: "\f105";
    right: 1rem;
  }
  .popup_prev::after {
    content: "\f104";
    left: 1rem;
  }

  .sub_menu {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }
  .sub_menu > div {
    margin: 0 0.5rem;
  }
  .sub_menu > .notice {
    width: 312px;
    height: 180px;
    position: relative;
    margin-left: 0;
    border: 3px solid white;
  }
  .room_info {
    width: 260px;
    height: 180px;
    border: 3px solid white;
    overflow: hidden;
  }
  .room_start.on,
  .room_pause.on {
    color: var(--font-color2);
  }
  .room_info_doc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .play_pause {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .room_start {
    padding-right: 0.5rem;
  }
  .sub_menu .weather_info {
    width: 136px;
    height: 180px;
    position: relative;
    border: 3px solid white;
    margin-right: 0;
  }
  .weather_contests > div > p {
    color: white;
  }

  h3 {
    font-size: var(--font-size3);
    font-weight: 500;
    color: white;
    background-color: var(--font-color1);
    padding: 10px 10px;
    border-bottom: 1px solid white;
  }
  .fa-star {
    color: var(--font-color2);
  }
  .fa-star > span {
    color: white;
  }
  .notice_doc::after {
    content: "\2b";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 5%;
    right: 8%;
    font-size: large;
    transition: 0.3s;
    cursor: pointer;
  }
  .notice_doc::after:hover {
    transform: rotate(-90deg);
  }
  /* .room_info_doc::after {
    content: "\f04c";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 4%;
    right: 8%;
    font-size: large;
  }
  .room_info_doc::before {
    content: "\f04b";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 4%;
    right: 16%;
    font-size: large;
  } */
  .weather_info_doc::after {
    content: "\2b";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 5%;
    right: 8%;
    font-size: large;
    color: white;
    cursor: pointer;
  }
  .weather_info_doc::after:hover {
    transform: rotate(-90deg);
  }
  .sub_menu_contents {
    border: 1px solid var(--font-color1);
    height: 140px;
    padding-top: 1rem;
    backdrop-filter: none;
  }
  .sub_menu_contents p {
    color: black;
    font-size: var(--font-size4);
    font-weight: 500;
    cursor: pointer;
  }
  .notice > .sub_menu_contents > div {
    width: 260px;
  }

  .notice > .sub_menu_contents > div > p {
    padding-left: 1rem;
    padding-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
  }
  .notice > .sub_menu_contents > div > p:hover {
    color: var(--font-color2);
  }
  .slide_wrap {
    position: relative;
    padding-top: 0;
  }
  .room_swiper {
    display: flex;
  }
  .popup_swiper > .swiper-wrapper {
  }
  .slide_wrap .swiper-slide > img {
    width: 100%;
  }
  /* .slide_img {
    display: flex;
    width: 500%;
    backdrop-filter: none;
  }
  .slider {
    width: calc(100% / 5);
    overflow: hidden;
  }
  .slider img {
    width: 260px;
  } */

  .weather_contests {
    padding-top: 0;
  }
  .weather_contests > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .weather_contests > div > * {
    padding: 0.5rem;
  }
  .weather_contests > div > img {
    width: 50%;
  }
  .buliding_bg {
    position: absolute;
    width: 672px;
    height: 614px;
    left: 10%;
    top: 35%;
    z-index: -2;
  }
  .mo_main {
    display: none;
  }
}

@media (max-width: 800px) {
  .sec {
    max-width: 90%;
    width: calc(100% - 2rem);
    margin: auto;
    min-height: 700px;
  }
  h2 {
    font-family: "Gowun Dodum";
    padding-top: 65px;
    display: flex;
    flex-direction: column;
  }
  h2 > span {
    font-size: var(--font-size6);
    line-height: 31px;
  }
  h2 > strong {
    font-size: var(--font-size7);
    line-height: 70px;
    margin-top: 1rem;
  }
  .main {
    display: none;
  }
  .mo_main {
    position: absolute;
    top: 250px;
  }
  .reservation_con {
    margin-top: 105px;
    display: flex;
  }
  .reservation_con > button {
    width: 200px;
    height: 50px;
    background-color: black;
    border: 3px solid white;
    margin: 12px 8px;
    cursor: pointer;
    position: relative;
  }
  #reserve_info {
    margin-left: 0;
  }
  #reserve_info > span,
  #reserve_start > span {
    color: white;
    font-family: "Noto Sans KR";
    font-size: var(--font-size1);
    font-weight: 500;
    padding-right: 3rem;
    position: relative;
    transition: 0.3s;
  }
  #reserve_info > span::after,
  #reserve_start > span::after {
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    position: absolute;
    top: 20%;
    right: 0;
  }
  .reservation_con #reserve_info > a,
  .reservation_con #reserve_start > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #reserve_info:hover,
  #reserve_start:hover {
    background-color: white;
  }
  #reserve_info:hover > span,
  #reserve_start:hover > span {
    color: black;
  }
  .mo_sub_menu {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
  }

  .mo_sub_menu > button {
    border: 3px solid white;
    width: 170px;
    height: 45px;
    outline: none;
    background-color: var(--font-color1);
    position: relative;
    cursor: pointer;
    transition: 0.3s;
  }
  .mo_sub_menu > button:hover {
    background-color: white;
  }
  .mo_sub_menu > button:hover > span {
    color: var(--font-color1);
  }
  .mo_sub_menu > button > span {
    color: white;
    font-size: var(--font-size3);
    font-weight: 600;
    color: white;
    padding-right: 3rem;
    transition: 0.3s;
  }
  .mo_sub_menu > button > span::after {
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    position: absolute;
    top: 30%;
    right: 10%;
  }
  .mo_sub_menu > button > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .popup_con {
    overflow: hidden;
    width: 305px;
    height: 140px;
    margin-top: 50px;
    border: 3px solid white;
  }
  .popup_swiper {
    position: relative;
    display: flex;
  }
  .swiper-wrapper {
    display: flex;
  }
  .popup_swiper .swiper-wrapper .swiper-slide > a {
    width: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .popup_next,
  .popup_prev {
  }
  .popup_next::after,
  .popup_prev::after {
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    font-size: x-large;
  }
  .popup_next::after {
    content: "\f105";
    right: 1rem;
  }
  .popup_prev::after {
    content: "\f104";
    left: 1rem;
  }
  .buliding_bg {
    display: none;
  }
}
@media (max-width: 460px) {
  .sec {
    max-width: 90%;
    width: calc(100% - 2rem);
    margin: auto;
    min-height: 1200px;
  }
  h2 > span {
    font-size: var(--font-size1);
  }
  h2 > strong {
    font-size: 48px;
    line-height: 70px;
    margin-top: 1rem;
  }

  .reservation_con > button {
    width: 160px;
    height: 50px;
    position: relative;
  }
  .mo_sub_menu {
    gap: 0.25rem;
  }
  .mo_sub_menu > button {
    width: 150px;
    height: 45px;
  }
  .reservation_con #reserve_info > a,
  .reservation_con #reserve_start > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
