@charset 'utf-8';

:root {
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: white;
  --font-size1: 22px;
  --font-size2: 18px;
  --font-size3: 16px;
  --font-size4: 14px;
  --font-size5: 12px;
  --font-size6: 28px;
  --font-size7: 60px;
  --font-color1: #284372;
  --font-color2: #ffd700;
}

@media (min-width: 800px) {
  .sec {
    height: 815px;
    display: flex;
    position: relative;
  }
  .sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url(../imges/page_3_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  h2,
  h2 > * {
    /* border: 1px solid red; */
  }
  h2 {
    font-family: "Gowun Dodum";
    padding-top: 65px;
    display: flex;
    flex-direction: column;
  }
  h2 > span {
    font-size: var(--font-size6);
    line-height: 31px;
  }
  h2 > strong {
    font-size: var(--font-size7);
    line-height: 70px;
    margin-top: 1rem;
  }
  .main {
    position: absolute;
    right: 0;
    top: 152px;
  }

  .reservation_con > button {
    width: 404px;
    height: 124px;
    background-color: transparent;
    box-shadow: 0 0 20px #ffffff;
    border-radius: 10px;
  }
  #reserve_info {
    background-image: url(../imges/Reservation_info_bg.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    /* background-position: -28px -140px; */
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
  }
  #reserve_start {
    background-image: url(../imges/reservation_bg.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
    margin-left: 22px;
  }
  #reserve_info > span,
  #reserve_start > span {
    color: white;
    transform: rotatey(180deg);
  }
  #reserve_info:hover,
  #reserve_start:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .sub_menu_con {
    border: 1px solid rebeccapurple;
    display: flex;
    margin-top: 46px;
    max-width: 840px;
    height: 240px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.8;
    backdrop-filter: blur(25px);
  }
  .sub_menu {
    margin: 30px 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .sub_menu > div {
    margin: 0 0.5rem;
  }
  .notice {
    width: 300px;
    height: 180px;
    position: relative;
  }
  .room_info {
    width: 260px;
    height: 180px;
    position: relative;

  }
  .weather_info {
    width: 136px;
    height: 180px;
    position: relative;

  }
  h3 {
    font-size: var(--font-size3);
    font-weight: 500;
    color: white;
    background-color: var(--font-color1);
    padding: 10px 10px;
    border-radius: 10px 10px 0 0; 
  }
  .fa-star {
    color: var(--font-color2);
  }
  .notice_doc::after {
    content: "\2b";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    border: 1px solid red;
    top: 4%;
    right: 8%;
    font-size: large;  
  }
  .notice_doc::after:hover {
    transform: rotate(90deg);
  }
  .room_info_doc::after {
    content: "\f04c";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    border: 1px solid red;
    top: 4%;
    right: 8%;
    font-size: large; 
  }
  .room_info_doc::before {
    content: "\f04b";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    border: 1px solid red;
    top: 4%;
    right: 16%;
    font-size: large; 
  }
  .weather_info_doc::after {
    content: "\2b";
    position: absolute;
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    border: 1px solid red;
    top: 4%;
    right: 8%;
    font-size: large;  
  }
  .sub_menu_contents {
    border: 1px solid var(--font-color1);
    height: 140px;
    padding-top: 1rem;
    border-radius: 0 0 10px 10px;
    background-color: white;
    backdrop-filter: none;

  }
  .sub_menu_contents p {
    color: black;
    font-size: var(--font-size4);
    font-weight: 500;
  }
  .notice > .sub_menu_contents > div {
    width: 260px;
  }

  .notice > .sub_menu_contents > div > p {
    padding-left: 1rem;
    padding-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .slide_wrap {
    position: relative;
    overflow: hidden;
    padding-top: 0rem;
  }
  .slide_img {
    display: flex;
    width: 500%;
    backdrop-filter: none;

  }
  .slider {
    width: calc(100% / 5);
    overflow: hidden;
  }
  .slider img {
    width: 260px;
  }

  .weather_contests {
    padding-top: 0;
  }
  .weather_contests > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .weather_contests > div > * {
    padding: 0.5rem;
  }
  .weather_contests > div > img {
    width: 50%;
  }
}
