@charset 'utf-8';

:root {
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: white;
  --font-size1: 22px;
  --font-size2: 18px;
  --font-size3: 16px;
  --font-size4: 14px;
  --font-size5: 12px;
  --font-size6: 28px;
  --font-size7: 60px;
  --font-color1: #284372;
  --font-color2: #ffd700;
}
img {
  width: 100%;
}
.wrap {
  overflow: hidden;
}
.mw3 {
  max-width: 1200px;
  width: calc(100% - 2rem);
  margin: auto;
}
@media (min-width: 800px) {
  .location {
    background-image: url(../imges/reservation_main_banner.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 250px;
  }
  .location h2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 250px;
    font-size: 48px;
  }
  .title_list {
    display: flex;
    padding-top: 2rem;
  }
  .title_list > li {
    border: 2px solid var(--font-color2);
    background-color: rgba(0, 0, 0, 0.6);
    height: 40px;
    text-align: center;
  }
  .title_list > li > a {
    color: white;
    font-family: "Noto Sans KR";
    font-size: var(--font-size1);
    font-weight: 300;
    line-height: 40px;
    padding: 0 2rem;
  }
  .title_list > li:hover {
    background-color: var(--font-color2);
  }
  .title_list > li.on {
    background-color: var(--font-color1);
  }
  .title_list > li.on > a {
    color: var(--font-color2);
  }
  .sub_title_list {
    margin-top: 2rem;
    position: relative;
  }
  .sub_title_list > span {
    color: white;
    font-size: 32px;
    padding: 0 1.5rem;
    cursor: pointer;
  }
  .sub_title_list > span:nth-of-type(1) {
    padding-left: 0;
  }
  .sub_title_list > span::after {
    content: "";
    position: absolute;
    top: 4%;
    left: 7.5%;
    width: 1px;
    height: 40px;
    background-color: white;
  }
  .sub_title_list > span.on,
  .sub_title_list > span:hover {
    color: var(--font-color2);
  }

  .sec > div {
    /* max-width: 1200px;
    width: calc(100% - 2rem);
    margin: auto; */
    border: 1px solid rebeccapurple;
    display: flex;
    flex-wrap: wrap;
    background-color: #eaeaea;
  }
  .sec > * {
    border: 1px solid red;
  }
  form {
    margin: 2rem 0;
    min-height: 1200px;
    max-height: 3000px;
    position: relative;
  }
  .item_con {
  }
  .item > li.on h3 {
    padding: 1rem 1rem;
    width: 100%;
    background-color: var(--font-color1);
    display: flex;
    justify-content: space-between;
  }
  .item > li.on > h3 > span:nth-of-type(1) {
    color: white;
  }
  h3 {
    background-color: white;
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 5px solid var(--font-color1);
    cursor: pointer;
  }
  h3 > span:nth-of-type(1) {
    color: var(--font-color1);
  }
  h3 > span:nth-of-type(2) {
    color: var(--font-color1);
  }
  .calendar {
    width: 40%;
  }
  .detail {
    width: 60%;
    padding: 1rem 2rem;
    color: black;
  }
  .detail h3 {
    padding-bottom: 1rem;
  }

  .detail ul {
    padding-top: 2rem;
  }

  .detail.personnel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  .detail.personnel h4 {
    width: 100%;
    font-size: var(--font-size1);
  }
  .detail.personnel p {
    width: 70%;
    margin-top: 2rem;
  }
  .detail.personnel > input {
    background-color: var(--font-color1);
    width: 80px;
    height: 40px;
    color: white;
    cursor: pointer;
    border: none;
  }
  .detail.personnel > input:hover {
    background-color: var(--font-color2);
  }
  .detail.personnel span {
    width: 10%;
    /* flex-grow: 1; */
  }
  .detail.personnel button {
    display: inline-block;
  }
  .item_con {
    position: relative;
  }
  .item.on {
    display: block;
  }
  .item {
    position: absolute;
    display: none;
  }
  .team {
    top: 0;
    left: 0;
  }
  .title {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--font-color1);
    border-bottom: 1px solid var(--font-color1);
    padding: 0.5rem 0;
    background-color: #99999920;
  }
  .title > span {
    text-align: center;
    width: 25%;
  }
  .reserve_list {
    padding: 0.5rem 0;
  }
  .reserve_list > label {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid gray;
  }
  .reserve_list > label > span,
  .reserve_list > label > input {
    width: 25%;
  }
  .reserve_list input {
    background-color: var(--font-color1);
    width: 80px;
    height: 40px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .reserve_list input:hover {
    background-color: #ffd700;
  }
  .reserve_list input:checked {
  }
  .reserve_list input:focus {
  }
  .reserve_list input:enabled {
  }
  .reserve_list input:disabled {
    background-color: darkgrey;
  }

  .sec3 {
    width: 100%;
  }
  .sec3 h4 {
    width: 100%;
    font-size: var(--font-size1);
    padding: 1rem;
    color: black;
  }

  .detail.person_info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1rem;
  }
  .input--ruri {
    margin: 1rem;
  }
  .person,
  .team {
    margin-top: 2rem;
  }
  .sec3_contents > * {
    border: 1px solid red;
  }
  .sec3_contents {
    padding: 1rem;
  }
  .info_agree_contents {
    color: black;
    width: 100%;
  }
  .info_agree_contents h5 {
    font-weight: 700;
    font-size: var(--font-size2);
    padding: 1rem;
  }
  .info_agree_contents p {
    display: flex;
    flex-direction: column;
  }
  .info_agree_contents p strong {
    font-weight: 700;
    font-size: var(--font-size2);
    padding: 1rem 2rem;
  }
  .info_agree_contents p span {
    font-weight: 500;
    font-size: var(--font-size4);
    padding: 0.25rem 5rem;
  }
  .red {
    color: red;
  }
  .info_agree {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info_agree input[type="submit"] {
    background-color: var(--font-color1);
    width: 150px;
    height: 45px;
    color: white;
    font-size: var(--font-size2);
    cursor: pointer;
    border: none;
  }
  .info_agree input[type="submit"]:hover {
    background-color: var(--font-color2);
  }
  .info_agree label {
    color: black;
  }

  .sec {
    max-height: 0px;
    overflow: hidden;

    transition: all 0.3s;
  }
  .person > li.on .sec {
    display: block;
    max-height: 800px;
  }
  .team > li.on .sec {
    display: block;
    max-height: 1200px;
  }
  .ft {
    margin-top: 300px;
  }
}

@media (max-width: 800px) {
  .location {
    background-image: url(../imges/reservation_main_banner.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 150px;
  }
  .location h2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 150px;
    font-size: 36px;
  }
  .title_list {
    display: flex;
    padding-top: 2rem;
    max-width: 90%;
  }
  .title_list > li {
    border: 2px solid var(--font-color2);
    background-color: rgba(0, 0, 0, 0.6);
    height: 40px;
    text-align: center;
  }
  .title_list > li > a {
    color: white;
    font-family: "Noto Sans KR";
    font-size: var(--font-size4);
    font-weight: 300;
    line-height: 40px;
    padding: 0 0.5rem;
  }
  .title_list > li:hover {
    background-color: var(--font-color2);
  }
  .title_list > li.on {
    background-color: var(--font-color1);
  }
  .title_list > li.on > a {
    color: var(--font-color2);
  }
  .sub_title_list {
    margin-top: 2rem;
    position: relative;
    max-width: 90%;
  }
  .sub_title_list > span {
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 24px;
    padding: 0 1.5rem;
    cursor: pointer;
  }
  .sub_title_list > span:nth-of-type(1) {
    padding-left: 0;
  }
  /* .sub_title_list > button::after {
    content: "";
    position: absolute;
    top: 4%;
    left: 10%;
    width: 1px;
    height: 40px;
    background-color: white;
  } */
  .sub_title_list > span.on,
  .sub_title_list > span:hover {
    color: var(--font-color2);
  }
  .sec > div {
    /* max-width: 1200px;
    width: calc(100% - 2rem);
    margin: auto; */
    border: 1px solid rebeccapurple;
    background-color: #eaeaea;
  }
  form {
    max-width: 90%;
    width: calc(100% - 2rem);
    margin: auto;
    min-height: 1200px;
  }
  h3 {
    background-color: white;
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 5px solid var(--font-color1);
    cursor: pointer;
  }
  h3 > span:nth-of-type(1) {
    color: var(--font-color1);
  }
  h3 > span:nth-of-type(2) {
    color: var(--font-color1);
  }
  .item > li.on h3 {
    padding: 1rem 1rem;
    width: 100%;
    background-color: var(--font-color1);
    display: flex;
    justify-content: space-between;
  }
  .item > li.on > h3 > span:nth-of-type(1) {
    color: white;
  }
  .title {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--font-color1);
    border-bottom: 1px solid var(--font-color1);
    padding: 0.5rem 0;
    background-color: #99999920;
    color: black;
  }
  .title > span {
    text-align: center;
    width: 25%;
  }
  .reserve_list {
    padding: 0.5rem 0;
  }
  .reserve_list > label {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid gray;
    color: black;
  }
  .reserve_list > label > span,
  .reserve_list > label > input {
    width: 25%;
  }
  .reserve_list input {
    background-color: var(--font-color1);
    width: 80px;
    height: 40px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .reserve_list input:hover {
    background-color: #ffd700;
  }
  .detail.personnel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  .detail.personnel h4 {
    width: 100%;
    font-size: var(--font-size1);
    color: black;
  }
  .detail.personnel p {
    width: 70%;
    margin-top: 2rem;
    color: black;
    font-size: var(--font-size4);
  }
  .detail.personnel > input {
    background-color: var(--font-color1);
    width: 80px;
    height: 40px;
    color: white;
    cursor: pointer;
    border: none;
  }
  .detail.personnel > input:hover {
    background-color: var(--font-color2);
  }
  .detail.personnel span {
    width: 10%;
    /* flex-grow: 1; */
  }
  .input__label-content {
    color: black;
  }
  .sec3 {
    width: 100%;
  }
  .sec3 h4 {
    width: 100%;
    font-size: var(--font-size1);
    padding: 1rem;
    color: black;
  }

  .detail.person_info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1rem;
  }
  .input--ruri {
    margin: 1rem;
  }
  .person,
  .team {
    margin-top: 2rem;
  }
  .sec3_contents > * {
    border: 1px solid red;
  }
  .sec3_contents {
    padding: 1rem;
  }
  .info_agree_contents {
    color: black;
    width: 100%;
  }
  .info_agree_contents h5 {
    font-weight: 700;
    font-size: var(--font-size2);
    padding: 1rem;
  }
  .info_agree_contents p {
    display: flex;
    flex-direction: column;
  }
  .info_agree_contents p strong {
    font-weight: 700;
    font-size: var(--font-size2);
    padding: 1rem 2rem;
  }
  .info_agree_contents p span {
    font-weight: 500;
    font-size: var(--font-size4);
    padding: 0.25rem 5rem;
  }
  .red {
    color: red;
  }
  .info_agree {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info_agree input[type="submit"] {
    background-color: var(--font-color1);
    width: 150px;
    height: 45px;
    color: white;
    font-size: var(--font-size2);
    cursor: pointer;
    border: none;
  }
  .info_agree input[type="submit"]:hover {
    background-color: var(--font-color2);
  }
  .info_agree label {
    color: black;
  }

  .sec {
    max-height: 0px;
    overflow: hidden;

    transition: all 0.3s;
  }
  .person > li.on .sec {
    display: block;
    max-height: 800px;
  }
  .team > li.on .sec {
    display: block;
    max-height: 1200px;
  }
  .ft {
    margin-top: 300px;
  }
  .item_con {
    position: relative;
  }
  .item.on {
    display: block;
  }
  .item {
    position: absolute;
    display: none;
  }
}
@media (max-width: 460px) { 
  .title_list > li > a {
    font-size: var(--font-size5);
  }
  .h3 {
    font-size: var(--font-size5);
  }
  h3 > span:nth-of-type(2) {
    display: none;
  }
.person > li.on .sec{
  max-height: 1600px;
}
  .detail.personnel {
    display: flex;
    flex-direction: column;
  }
  .detail.personnel h4 {
    max-width: 90%;
  }
  .detail.personnel p {
    font-size: 10px;
  }
  .input--kaede {
    width: 100%;
  }
  .sec3_contents h4 {
    font-size: var(--font-size3);
  }
  .detail.person_info {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  .info_agree_contents h5 {
    font-size: var(--font-size4);
  }
}